#home{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    list-style: none;
    color: blue;
}
#home li{
    margin-right: 30px;
}

#card{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}
.card-body{
    color: #005cbf;
}