<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>history details</title>
</head>
<body>
    {% for elm in data %}
        <div class="card">
            <img src="{{ elm.item.img.url }}" class="card-img-top" alt="..." ,height="200" width="100">
            <div class="card-body">
               <h5 class="card-title">{{ elm.user.username}}: نام کاربر یا مشتری </h5>
              <h5 class="card-title"> نام محصول :{{ elm.item.name}}</h5>
                <h5 class="card-title">تعداد :{{ elm.count }}  </h5>
                <h5 class="card-title">قیمت :{{ elm.item.price }}  </h5>
            </div>
          </div>
    {% endfor %}
</body>
</html>