
{% load static %}
<!DOCTYPE html>

<html lang="en"  dir="rtl">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<h1> <p style="text-align:center;">به کتابفروشی لاهور خوش آمدید</p></h1>
<h4> <p style="text-align:center;"><a href="user-register">ثبت نام در سایت </a></p></h4>
    {% if user.is_authenticated %}
        <p><a href='user-logout'>logout</a></p>
        {% else %}
            <p><a href="login-form">login in site ....</a></p>
    {% endif %}
<body>

<form action="{% url 'show-basket' %}" method="GET">
    <input type='submit' value="نمایش سبد خرید"></input>
</form>

<form action="{% url 'history' %}" method="GET">
    <input type='submit' value="نمایش سوابق خرید من "></input>
</form>


<form action="{% url 'search' %}" method="GET">
    <input name="q" type='search' placeholder="search"></input>
    <input type='submit' value="search"></input>
</form>



<form action="{% url 'filter' %}" method="GET">
    <input name="q" type='search' placeholder="min_price"></input>
    <input name="q" type='search' placeholder="max_price"></input>
    <input type='submit' value="filter"></input>
</form>





<div>
    <ul>
        {% for i in name %}
            <li id="home">
            <h2><a href="{% url 'book-cat-list' i.title %}">{{ i }}</a></h2>
            </li>
        {% endfor %}

    </ul>






</div>

        <div class="row">
        <li id="card">
        {% for elm in book %}
          <div class="card">
            <img src="{{ elm.img.url }}" class="card-img-top" alt="..." ,height="200" width="100">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'show_book' elm.name %}">{{ elm.name }}</a></h5>
              <p class="card-text"><small class="text-muted">{{elm.price}}</small></p>

                <form action="{% url 'add' %}" method="GET">
                    <input name="count" type='count' placeholder="تعداد"></input>
                    <input name="book_id" type='hidden' placeholder="ایدی کتاب" value={{ elm.id }}></input>
                    <input type='submit' value="افزودن به سبد"></input>
                </form>

            </div>
          </div>

        {% endfor %}
        </li>
        </div>

</ul>

</body>
</html>


